body {
  padding-top: 50px;
  background-color: rgba(231,231,231,1);
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-brand {
	font-family: 'Kaushan Script', sans-serif;
	font-size: 33px;
}

.jumbotron {
	padding: 30px;
	background-color: #454545;
}

#myCarousel img {
	height:500px;

}

.phone {
	font-size: 20px;
	font-style: italic;
}

.specializing {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
}

.home-panels {
    height: 300px;
}

.listing-box {
    width: 220px;
    height: 196px;
    background-color: white;
    margin: 5px;
}

.listing-image {
    width: 201px;
    height: 121px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.address,
.description,
.price
{
  color: #717171;
  font-size: 11px;
  margin-left: 10px;
  margin-top: 3px;
}

.price {
  font-weight: bold;
}


